@use './variables.scss' as v;
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  // margin-top: -1rem;
  max-height: 100vh;
  // overflow: auto;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Kallisto-bold';
  src: url('@/assets/fonts/Kallisto/Kallisto_bold.otf');
}

@font-face {
  font-family: 'Kallisto-regular';
  src: url('@/assets/fonts/Kallisto/Kallisto_medium.otf');
}

body {
  background: linear-gradient(v.$dark-blue, v.$primary) fixed;
  font-family: 'Fredoka One', sans-serif;
}