// colors
$primary: rgb(230, 51, 128);
$primary-light: rgb(255, 150, 144);
$secondary: rgb(230, 128, 88);
$secondary-light: rgb(250, 231, 135);
$deep-blue: rgb(6, 109, 247);
$dark-blue: rgb(74, 67, 131);
$purple: rgb(207, 26, 202);

// text sizes
$primary-title: 6rem;
$secondary-title: 2rem;
$text: 1rem;